// -----------------------------------------------
// Avatar
// -----------------------------------------------



.avatar {
  $_this: &;



  // Avatar
  display: inline-block;
  transition: $transition-fast;
  transition-property: transform;



  // Container
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    background-color: $gc-dark-gray;
    border-radius: 50%;
    box-shadow: 0 .2rem .4rem rgba($gc-true-black, .5);
  }



  // Group
  &__group {
    display: flex;
  }

  &__group > & + & {
    margin-left: $size-xs / 2;
  }



  // Size Modifier
  &--md &__container {
    width: $size-md;
    height: $size-md;

    &::before {
      width: $size-md * .25;
      height: $size-md * .25;
    }

    &::after {
      width: $size-md * .25;
      height: $size-md * .25;
    }
  }

  &--lg &__container {
    width: $size-lg;
    height: $size-lg;

    &::before {
      width: $size-lg * .25;
      height: $size-lg * .25;
    }

    &::after {
      width: $size-lg * .25;
      height: $size-lg * .25;
    }
  }

  &--xl &__container {
    width: $size-xl;
    height: $size-xl;

    &::before {
      width: $size-xl * .25;
      height: $size-xl * .25;
    }

    &::after {
      width: $size-xl * .25;
      height: $size-xl * .25;
    }
  }



  // Notification
  &__container::before {
    position: absolute;
    z-index: 1;
    display: none;
    top: 0;
    right: 0;
    background-color: $gc-red;
    border-radius: 50%;
    box-shadow: 0 .1rem .1rem rgba($gc-true-black, .75);
    box-shadow: 0 0 0 .2rem $gc-black;
    content: "";
  }

  &--notification &__container::before {
    display: block;
  }



  // Status
  &__container::after {
    position: absolute;
    z-index: 1;
    display: none;
    right: 0;
    bottom: 0;
    background-color: $gc-medium-gray;
    border-radius: 50%;
    box-shadow: 0 0 0 .1rem $gc-black;
    transform: rotate(45deg);
    content: "";
  }

  &--online &__container::after {
    display: block;
    background-color: $gc-blue;
  }

  &--ingame &__container::after {
    display: block;
    background-color: $gc-green;
  }

  &--busy &__container::after {
    display: block;
    background-color: $gc-orange;
  }

  &--away &__container::after {
    display: block;
    background-color: $gc-red;
  }

  &--offline &__container::after {
    display: block;
    background-color: $gc-medium-gray;
  }



  // Image
  &__img {
    border-radius: 50%;
  }



  // Reputation
  &--rep-00 &__container {
    background-color: $rep-00;
  }

  &--rep-25 &__container {
    background-color: $rep-25;
  }

  &--rep-50 &__container {
    background-color: $rep-50;
  }

  &--rep-75 &__container {
    background-color: $rep-75;
  }

  &--norep &__container {
    background-color: transparent;
    padding: 0;
  }



  // Empty
  &--empty &__container {
    background-color: transparent;
    border: .2rem dotted rgba($gc-true-white, .25);
  }
}
