// -----------------------------------------------
// Chat Toggle
// -----------------------------------------------



.chat-toggle {
  position: fixed;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1.8rem;
  bottom: 2rem;
  width: 6rem;
  height: 6rem;
  color: $gc-true-white;
  font-size: $font-size-xl;
  background-color: $gc-green;
  border-radius: 50%;
  box-shadow: 0 .6rem 1.8rem rgba($gc-true-black, .25);
  cursor: pointer;
  transition: $transition-fast;
  transition-property: left, color, background-color, transform;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &::before,
  &::after {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 50%;
    height: .2rem;
    background-color: $gc-red;
    content: "";
    transition: $transition-fast;
    transition-property: opacity, transform;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &.is-active {
    background-color: $gc-black;
    color: transparent;
    box-shadow: 0 0 0 .1rem rgba($gc-true-white, .1);

    &::before,
    &::after {
      opacity: 1;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }

  @at-root .global-chat.is-active .chat-sidebar.is-open ~ & {
    left: $chat-sidebar-width;
    transform: translateX(-50%);
  }
}
