// -----------------------------------------------
// Chat Item
// -----------------------------------------------



.chat-item {



  // Chat Item
  max-width: 32rem;



  // Window
  &__window {
    opacity: 0;
    min-width: 25.6rem;
    margin-right: $size-sm;
    background-color: rgba($gc-black, .95);
    border: .1rem solid rgba($gc-true-white, .1);
    border-radius: $radius-md;
    box-shadow: 0 .8rem 4.8rem rgba($gc-true-black, .25);
    transition: $transition-fast;
    transform: translate3d(0, 10%, 0);
    transition-property: opacity, transform;
  }

  &.is-open &__window {
    opacity: 1;
    transform: none;
  }



  //  Header
  &__header {
    display: flex;
    border-bottom: .1rem solid rgba($gc-true-white, .1);
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
  }



  // Header Option
  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 $size-xl;
    width: $size-xl;
    height: $size-xl;
    color: rgba($gc-true-white, .75);
    font-size: $font-size-md;
    cursor: pointer;
    transition: $transition-fast;
    transition-property: color, background-color;

    &:first-of-type {
      border-top-left-radius: $radius-md;
    }

    &:last-of-type {
      border-top-right-radius: $radius-md;
    }

    &:hover {
      color: $gc-true-white;
      background-color: rgba($gc-true-white, .1);

      &.js-toggle-chat-dock-window {
        color: $gc-blue;
      }

      &.js-close-chat-dock-item {
        color: $gc-red;
      }
    }
  }



  // Header Title
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 $size-xl;
    height: $size-xl;
    padding-left: $size-md;
    padding-right: $size-md;
    cursor: pointer;
    transition: $transition-fast;
    transition-property: color, background-color;

    &:hover {
      color: $gc-true-white;
      background-color: rgba($gc-true-white, .1);
    }
  }



  // Header Name
  &__name {
    color: $gc-true-white;
    font-size: $font-size-sm;
    line-height: $line-height-heading;

    .badge {
      margin-right: $size-xs;
    }
  }



  // Header Status
  &__status {
    margin-top: $size-xs / 2;
    color: $gc-blue;
    font-size: $font-size-xs;
    line-height: $line-height-heading;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }



  // Body
  &__body {
    position: relative;
    overflow-y: scroll;
    min-height: 24rem;
    max-height: 24rem;
    padding: $size-xs;
    padding-bottom: $size-sm;
    padding-left: $size-sm;
  }



  // Messages

  &__msg {
    display: flex;
    flex-flow: column wrap;

    & + & {
      margin-top: $size-xs;
    }

    // Message Meta
    &__meta {
      color: rgba($gc-true-white, .25);
      font-size: $font-size-xs;
      transition: color $transition-fast;
    }

    &:hover &__meta {
      color: $gc-true-white;
    }

    &__author {

    }

    &__time {
      margin-left: $size-xs / 2;
    }

    // Message Body
    &__body {
      display: inline-block;
      flex: 1 1 auto;
      align-self: flex-start;
      padding: $size-xs;
      margin-top: $size-xs / 2;
      font-size: $font-size-sm;
      line-height: $line-height-heading;
      background-color: rgba($gc-true-white, .1);
      border-radius: 0 $radius-md $radius-md;
    }

    // Message You
    &--you {
      padding-left: $size-sm;
    }

    &--you &__meta {
      text-align: right;
    }

    &--you &__body {
      align-self: flex-end;
      color: $gc-green;
      background-color: rgba($gc-true-white, .05);
      border-radius: $radius-md 0 $radius-md $radius-md;
    }
  }



  // Footer
  &__footer {
    background-color: rgba($gc-true-white, .05);
    border-top: .1rem solid rgba($gc-true-white, .1);
    border-radius: 0 0 $radius-md $radius-md;
    transition: background-color $transition-fast;

    &:hover {
      background-color: rgba($gc-true-white, .1);
    }
  }



  // Form Send
  &__form {
    display: flex;
  }

  &__input {
    // flex: 1 1 auto;
    flex-grow: 1;
    height: $size-xl;
    padding: $size-sm $size-xs $size-xs $size-sm;
    color: $gc-white;
    font-size: $font-size-sm;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  &__send {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 $size-xl;
    width: $size-xl;
    height: $size-xl;
    color: rgba($gc-true-white, .75);
    font-size: $font-size-md;
    cursor: pointer;
    transition: $transition-fast;
    transition-property: color, background-color;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $gc-green;
      background-color: rgba($gc-true-white, .1);
    }
  }



  // Avatar
  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size-xl;
    height: $size-xl;
    transition: transform $transition-slow;

    &:focus {
      outline: none;
    }

    .avatar {
      cursor: pointer;
    }
  }


  // Modifiers
  &--lobby {
    .chat-item__avatar .avatar__container,
    .chat-item__avatar .avatar__img {
      border-radius: $radius-sm;
    }
  }

  &--lobby &__window {
    border-color: rgba($gc-red, .5);
  }

  &--lobby &__header {
    background-image: radial-gradient(at 50% -100%, rgba($gc-red, .25), rgba($gc-red, 0) 65%);
  }

  &--team &__window {
    border-color: rgba($gc-orange, .5);
  }

  &--team &__header {
    background-image: radial-gradient(at 50% -100%, rgba($gc-orange, .25), rgba($gc-orange, 0) 65%);
  }

  &--group &__window {
    border-color: rgba($gc-lilac, .5);
  }

  &--group &__header {
    background-image: radial-gradient(at 50% -100%, rgba($gc-lilac, .25), rgba($gc-lilac, 0) 65%);
  }

  &--friend &__window {
    border-color: rgba($gc-white, .25);
  }

  &--friend &__header {
    background-image: radial-gradient(at 50% -100%, rgba($gc-white, .25), rgba($gc-white, 0) 65%);
  }
}
