// ===============================================
// Variables
// ===============================================



// ===============================================
// Colors
// ===============================================



// Brand
// -----------------------------------------------

$gc-true-white:                #fff;
$gc-true-black:                #000;
$gc-white:                     #f7fbff;
$gc-black:                     #081020;
$gc-light-gray:                #f0f4f8;
$gc-medium-gray:               #909498;
$gc-dark-gray:                 #505458;

$gc-blue:                      #247eb9;
$gc-green:                     #a1be00;
$gc-yellow:                    #ddbc38;
$gc-orange:                    #eb8211;
$gc-red:                       #ef2625;
$gc-purple:                    #400098;
$gc-lilac:                     #bc8aff;



// Reputation
// -----------------------------------------------

$rep-00:                       #bb4c4c;
$rep-25:                       #f66c00;
$rep-50:                       #aaa200;
$rep-75:                       #92aa00;



// ===============================================
// Typography
// ===============================================

$font-family-heading:          "Oswald", sans-serif;
$font-family-body:             "Poppins", sans-serif;
$font-family-icons:             "simple-line-icons";

$font-size-xs:                 1.0rem;
$font-size-sm:                 1.2rem;
$font-size-md:                 1.6rem;
$font-size-lg:                 2.0rem;
$font-size-xl:                 2.4rem;

$line-height-heading:         1.25;
$line-height-body:            1.50;



// ===============================================
// Sizes and Spacing
// ===============================================

$size-xs:                      0.8rem;
$size-sm:                      1.6rem;
$size-md:                      2.4rem;
$size-lg:                      3.2rem;
$size-xl:                      4.8rem;



// ===============================================
// Borders
// ===============================================



// Radius
// -----------------------------------------------

$radius-xs:                    0.2rem;
$radius-sm:                    0.4rem;
$radius-md:                    0.8rem;
$radius-lg:                    1.6rem;
$radius-xl:                    2.4rem;

$radius-50:                    50%;



// ===============================================
// Transitions
// ===============================================

$transition-fast:              250ms ease(easeOutQuint);
$transition-slow:              500ms ease(easeOutQuint);



// ===============================================
// Components
// ===============================================



// Chat Sidebar
// -----------------------------------------------

$site-header-height:           6.9rem;
$chat-sidebar-width:           24rem;
