// -----------------------------------------------
// Chat Sidebar
// -----------------------------------------------



.chat-sidebar {



  // Chat Sidebar
  position: fixed;
  display: none;
  top: $site-header-height;
  left: 0;
  bottom: 0;
  max-height: 100vh;
  width: $chat-sidebar-width;
  transform: translateX(-($chat-sidebar-width - $size-xl));
  transition: $transition-fast;
  transition-property: transform;

  @at-root .global-chat.is-active & {
    display: block;
  }



  // Container
  &__container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba($gc-black, .75);
    box-shadow: inset -.1rem 0 rgba($gc-true-white, .1), .8rem 0 4.8rem rgba($gc-true-black, .25);
  }



  // Group
  &__group {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: auto;
    max-height: calc(#{$size-md} + (#{$size-xl} * 3));
    transform: translateX(($chat-sidebar-width - $size-xl));
    transition: $transition-fast;
    transition-property: transform;

    &:last-of-type {
      flex: 1 1 auto;
      max-height: none;
    }
  }



  // Header
  &__header {
    display: flex;
    align-items: center;
    flex: 0 0 $size-md;
    height: $size-md;
    font-size: $font-size-xs;
    line-height: $line-height-heading;
    background-color: rgba($gc-true-black, .25);
    box-shadow: inset 0 .1rem rgba($gc-true-white, .1), inset 0 -.1rem rgba($gc-true-black, .2);
    cursor: pointer;
    user-select: none;

    &:hover,
    &.is-active {
      background-color: rgba($gc-true-black, .5);
    }
  }



  // Header Icon
  &__icon {
    flex: 0 0 $size-xl;
    width: $size-xl;
    text-align: center;
  }



  // Header Title
  &__title {
    flex-grow: 1;
    padding-left: $size-xs;
    padding-right: $size-sm;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  &__group--team &__header {
    color: $gc-orange;
  }

  &__group--group &__header {
    color: $gc-lilac;
  }

  &__group--friend &__header {
    color: $gc-green;
  }



  // List
  &__list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }



  // List Item
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 $size-xl;
    height: $size-xl;
    box-shadow: inset 0 .1rem rgba($gc-true-white, .05), inset 0 -.1rem rgba($gc-true-black, .1);
    cursor: pointer;
    user-select: none;
    transition: $transition-slow;
    transition-property: background-color;

    &:hover {
      background-color: rgba($gc-true-white, .05);
    }
  }



  // Item Avatar
  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 $size-xl;
  }



  // Item Nick
  &__nick {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-self: center;
    padding-left: $size-xs;
    padding-right: $size-sm;
    font-size: $font-size-sm;
    font-weight: normal;

    .badge {
      margin-left: $size-xs;
    }
  }



  // Toggle Button
  &__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 0;
    width: $size-md;
    height: $size-xl;
    font-size: $font-size-xs;
    color: rgba($gc-white, .5);
    background-color: rgba($gc-black, .75);
    border-top-right-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
    border: .1rem solid rgba($gc-white, .1);
    border-left-width: 0;
    cursor: pointer;
    transform: translate(100%, -50%);

    &:hover {
      background-color: rgba($gc-black, .5);
    }

    &::before {
      font-family: $font-family-icons;
      content: "\e606";
    }
  }



  // State
  &.is-open,
  &.is-open &__group {
    transform: none;
  }

  &:not(.is-open) &__group:last-of-type {
    margin-bottom: 10rem;
    box-shadow: inset 0 -.1rem rgba($gc-true-white, .1);
  }

  &:not(.is-open) &__nick {
    display: none;
  }

  &.is-open &__toggle::before {
    transform: rotate(180deg);
  }
}
