<div class="c-chat-window m-chat-window-lobby">
  <div class="c-chat-window-bubble">
    <div class="c-chat-window-header">
      <button class="c-chat-window-option" title="Convidar Amigo">
        <span class="icon-arrow-user-follow"></span>
        <span class="u-text-hidden">Convidar Amigo</span>
      </button>
      <!-- /.c-chat-window-option -->
      <div class="c-chat-window-main">
          <span class="c-chat-window-nick">Nome da Equipe</span>
        <div class="c-avatar-group m-avatar-group-narrow">
          <div class="c-avatar m-avatar-xs m-avatar-reputation-100">
            <div class="c-avatar-container">
              <img src="https://via.placeholder/32" alt="Nickname" title="Nickname" class="c-avatar-img">
            </div>
            <!-- /.c-avatar-container -->
          </div>
          <!-- /.c-avatar -->
          <div class="c-avatar m-avatar-xs m-avatar-reputation-75">
            <div class="c-avatar-container">
              <img src="https://via.placeholder/32" alt="Nickname" title="Nickname" class="c-avatar-img">
            </div>
            <!-- /.c-avatar-container -->
          </div>
          <!-- /.c-avatar -->
          <div class="c-avatar m-avatar-xs m-avatar-reputation-50">
            <div class="c-avatar-container">
              <img src="https://via.placeholder/32" alt="Nickname" title="Nickname" class="c-avatar-img">
            </div>
            <!-- /.c-avatar-container -->
          </div>
          <!-- /.c-avatar -->
          <div class="c-avatar m-avatar-xs m-avatar-empty">
            <div class="c-avatar-container"></div>
            <!-- /.c-avatar-container -->
          </div>
          <!-- /.c-avatar -->
          <div class="c-avatar m-avatar-xs m-avatar-empty">
            <div class="c-avatar-container"></div>
            <!-- /.c-avatar-container -->
          </div>
          <!-- /.c-avatar -->
        </div>
        <!-- /.c-avatar-group -->
      </div>
      <!-- /.c-chat-window-main -->
      <button class="c-chat-window-option js-close-chat-window" title="Sair do Lobby">
        <span class="icon-logout"></span>
        <span class="u-text-hidden">Sair do Lobby</span>
      </button>
      <!-- /.c-chat-window-option -->
    </div>
    <!-- /.c-chat-window-header -->
    <div class="c-chat-window-body">
      <div class="c-chat-window-msg">
        <div class="c-chat-window-msg-meta">
          <span class="c-chat-window-msg-author">Nickname</span>
          <span class="c-chat-window-msg-time">12:59</span>
        </div>
        <!-- /.c-chat-window-msg-meta -->
        <div class="c-chat-window-msg-body">
          <span class="c-chat-window-msg-text">Lorem ipsum dolor.</span>
        </div>
        <!-- /.c-chat-window-msg-body -->
      </div>
      <!-- /.c-chat-window-msg -->
      <div class="c-chat-window-msg m-chat-window-msg-you">
        <div class="c-chat-window-msg-meta">
          <span class="c-chat-window-msg-author">Nickname</span>
          <span class="c-chat-window-msg-time">12:59</span>
        </div>
        <!-- /.c-chat-window-msg-meta -->
        <div class="c-chat-window-msg-body">
          <span class="c-chat-window-msg-text">Lorem ipsum dolor.</span>
        </div>
        <!-- /.c-chat-window-msg-body -->
      </div>
      <!-- /.c-chat-window-msg -->
    </div>
    <!-- /.c-chat-window-body -->
    <div class="c-chat-window-footer">
      <form action="#" class="c-chat-window-form">
        <textarea class="c-chat-window-input" placeholder="Escreva sua mensagem&hellip;"></textarea>
        <button type="button" class="c-chat-window-send">
          <span class="icon-paper-plane"></span>
          <span class="u-text-hidden">Enviar Mensagem</span>
        </button>
        <!-- /.c-chat-window-send -->
      </form>
      <!-- /.c-chat-window-form -->
    </div>
    <!-- /.c-chat-window-footer -->
  </div>
  <!-- /.c-chat-window-bubble -->
  <div class="c-chat-window-avatar">
    <div class="c-avatar m-avatar-sm m-avatar-badge">
      <div class="c-avatar-container">
        <img src="https://via.placeholder/32" alt="Nickname" title="Nickname" class="c-avatar-img">
      </div>
      <!-- /.c-avatar-container -->
    </div>
    <!-- /.c-avatar -->
  </div>
  <!-- /.c-chat-window-avatar -->
</div>
<!-- /.c-chat-window -->