<div class="c-chat-window m-chat-window-group">
  <div class="c-chat-window-bubble">
    <div class="c-chat-window-header">
      <button class="c-chat-window-option js-toggle-chat-window" title="Esconder Conversa">
        <span class="icon-arrow-down-circle"></span>
        <span class="u-text-hidden">Esconder Conversa</span>
      </button>
      <!-- /.c-chat-window-option -->
      <div class="c-chat-window-main">
        <span class="c-chat-window-nick">Nome do Grupo</span>
        <span class="c-chat-window-status m-chat-window-status-online">10 Membros Online</span>
      </div>
      <!-- /.c-chat-window-main -->
      <button class="c-chat-window-option js-close-chat-window" title="Fechar Conversa">
        <span class="icon-arrow-close"></span>
        <span class="u-text-hidden">Fechar Conversa</span>
      </button>
      <!-- /.c-chat-window-option -->
    </div>
    <!-- /.c-chat-window-header -->
    <div class="c-chat-window-body">
      <div class="c-chat-window-msg">
        <div class="c-chat-window-msg-meta">
          <span class="c-chat-window-msg-author">Nickname</span>
          <span class="c-chat-window-msg-time">12:59</span>
        </div>
        <!-- /.c-chat-window-msg-meta -->
        <div class="c-chat-window-msg-body">
          <span class="c-chat-window-msg-text">Lorem ipsum dolor.</span>
        </div>
        <!-- /.c-chat-window-msg-body -->
      </div>
      <!-- /.c-chat-window-msg -->
      <div class="c-chat-window-msg m-chat-window-msg-you">
        <div class="c-chat-window-msg-meta">
          <span class="c-chat-window-msg-author">Nickname</span>
          <span class="c-chat-window-msg-time">12:59</span>
        </div>
        <!-- /.c-chat-window-msg-meta -->
        <div class="c-chat-window-msg-body">
          <span class="c-chat-window-msg-text">Lorem ipsum dolor.</span>
        </div>
        <!-- /.c-chat-window-msg-body -->
      </div>
      <!-- /.c-chat-window-msg -->
    </div>
    <!-- /.c-chat-window-body -->
    <div class="c-chat-window-footer">
      <form action="#" class="c-chat-window-form">
        <textarea class="c-chat-window-input" placeholder="Escreva sua mensagem&hellip;"></textarea>
        <button type="button" class="c-chat-window-send">
          <span class="icon-paper-plane"></span>
          <span class="u-text-hidden">Enviar Mensagem</span>
        </button>
        <!-- /.c-chat-window-send -->
      </form>
      <!-- /.c-chat-window-form -->
    </div>
    <!-- /.c-chat-window-footer -->
  </div>
  <!-- /.c-chat-window-bubble -->
  <div class="c-chat-window-avatar">
    <div class="c-avatar m-avatar-sm m-avatar-badge">
      <div class="c-avatar-container">
        <img src="assets/img/avatar_coldzera.jpg" alt="Nickname" title="Nickname" class="c-avatar-img">
      </div>
      <!-- /.c-avatar-container -->
    </div>
    <!-- /.c-avatar -->
  </div>
  <!-- /.c-chat-window-avatar -->
</div>
<!-- /.c-chat-window -->