// ===============================================
// Avatar
// ===============================================

.c-avatar {

  display: inline-block;



  // Container
  // -----------------------------------------------
  &-container {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      z-index: 1;
      display: none;
      border-radius: 50%;
      box-shadow: 0 0 0 .2rem $gc-black;
      content: "";
    }



    // Badge
    &::before {
      top: 0;
      right: 0;
      background-color: $gc-red;

      @at-root .m-avatar-badge & {
        display: block;
      }
    }



    // Status
    &::after {
      right: 0;
      bottom: 0;
      background-color: $gc-medium-gray;

      @at-root [class*="m-avatar-status"] & {
        display: block;
      }

      @at-root .m-avatar-status-online & {
        background-color: $gc-blue;
      }

      @at-root .m-avatar-status-ingame & {
        background-color: $gc-green;
      }

      @at-root .m-avatar-status-busy & {
        background-color: $gc-orange;
      }

      @at-root .m-avatar-status-away & {
        background-color: $gc-red;
      }

      @at-root .m-avatar-status-offline & {
        background-color: $gc-medium-gray;
      }
    }



    // Size
    @at-root .m-avatar-xs & {
      width: $size-md;
      height: $size-md;

      &::before,
      &::after {
        width: $size-md * .25;
        height: $size-md * .25;
      }
    }

    @at-root .m-avatar-sm & {
      width: $size-lg;
      height: $size-lg;

      &::before,
      &::after {
        width: $size-lg * .25;
        height: $size-lg * .25;
      }
    }

    // Empty
    @at-root .m-avatar-empty & {
      background-color: rgba($gc-true-black, .1);
      border: .2rem dotted rgba($gc-true-white, .25);
      border-radius: 50%;
    }
  }



  // Image
  // -----------------------------------------------
  &-img {
    border-radius: 50%;

    // Reputation
    @at-root [class*="m-avatar-reputation"] & {
      border-width: 2px;
      border-style: solid;
    }

    @at-root .m-avatar-reputation-100 & {
      border-color: $gc-green;
    }

    @at-root .m-avatar-reputation-75 & {
      border-color: $gc-yellow;
    }

    @at-root .m-avatar-reputation-50 & {
      border-color: $gc-orange;
    }

    @at-root .m-avatar-reputation-25 & {
      border-color: $gc-red;
    }
  }



  // Group
  // -----------------------------------------------
  &-group {
    display: flex;
  }

  &-group & + & {
    margin-left: $size-xs * .5;
  }
}
