// ===============================================
// Chat Sidebar
// ===============================================

.c-chat-sidebar {

  position: fixed;
  top: $site-header-height;
  left: 0;
  bottom: 0;
  max-height: 100%;
  width: $chat-sidebar-width;
  opacity: 0;
  transform: translate3d(calc(-100%), 0, 0) scale(.9);
  transition: $transition-fast;
  transition-property: opacity, transform;

  @at-root .c-global-chat.is-active & {
    opacity: 1;
    transform: translate3d(calc(-100% + #{$size-xl}), 0, 0);

    &.is-open {
      transform: none;
    }
  }



  // Container
  // -----------------------------------------------
  &-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba($gc-black, .75);
    border-right: .1rem solid rgba($gc-true-white, .1);
  }



  // Group
  // -----------------------------------------------
  &-group {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: auto;
    max-height: ($size-md + ($size-xl * 3));
    transform: translate3d(calc(100% - #{$size-xl}), 0, 0);
    transition: transform $transition-fast;

    &:last-of-type {
      flex: 1 1 auto;
      max-height: none;
      margin-bottom: 100px;
      border-bottom: .1rem solid rgba($gc-true-white, .1);
    }

    @at-root .is-open & {
      margin-bottom: 0;
      border-bottom-width: 0;
      transform: none;
    }
  }



  // Header
  // -----------------------------------------------
  &-header {
    display: flex;
    align-items: center;
    flex: 0 0 $size-md;
    height: $size-md;
    font-size: $font-size-sm;
    line-height: 1.25;
    background-color: rgba($gc-true-black, .25);
    border-top: .1rem solid rgba($gc-true-white, .1);
    border-bottom: .1rem solid rgba($gc-true-black, .25);
    cursor: pointer;
    user-select: none;
    transition: $transition-fast;

    &:hover,
    &.is-toggled {
      background-color: rgba($gc-true-black, .5);
    }

    // Modifiers
    @at-root .m-chat-sidebar-group-team & {
      color: $gc-orange;
    }

    @at-root .m-chat-sidebar-group-group & {
      color: $gc-lilac;
    }

    @at-root .m-chat-sidebar-group-friend & {
      color: $gc-green;
    }
  }



  // Icon
  // -----------------------------------------------
  &-icon {
    flex: 0 0 $size-xl;
    width: $size-xl;
    text-align: center;
  }



  // Title
  // -----------------------------------------------
  &-title {
    flex: 1 1 auto;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }



  // Toggle
  // -----------------------------------------------
  &-toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 0;
    width: $size-md;
    height: $size-xl;
    font-size: $font-size-sm;
    color: rgba($gc-white, .5);
    background-color: rgba($gc-black, .5);
    border-top-right-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
    border: .1rem solid rgba($gc-white, .1);
    border-left-width: 0;
    cursor: pointer;
    transform: translate3d(100%, -50%, 0);
    transition: $transition-fast;
    transition-property: color, background-color;

    &:hover {
      color: rgba($gc-white, .75);
      background-color: rgba($gc-black, 1);
    }

    &::before {
      font-family: $font-family-icons;
      content: "\e606";
      transition: transform $transition-fast;

      @at-root .is-open & {
        transform: rotate(180deg);
      }
    }

    &.is-open &__toggle::before {
      transform: rotate(180deg);
    }
  }
}
