// ===============================================
// Chat Friend
// ===============================================

.c-chat-friend {

  display: flex;
  align-items: center;
  flex: 0 0 $size-xl;
  height: $size-xl;
  border-top: .1rem solid rgba($gc-true-white, .05);
  border-bottom: .1rem solid rgba($gc-true-black, .1);
  cursor: pointer;
  user-select: none;
  transition: background-color $transition-fast;

  &:hover {
    background-color: rgba($gc-true-white, .05);
  }



  // Avatar
  // -----------------------------------------------
  &-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 $size-xl;
    width: $size-xl;
    height: $size-xl;
  }



  // Main
  // -----------------------------------------------
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-left: $size-xs;
    padding-right: $size-md;
    font-size: $font-size-sm;
    font-weight: normal;
  }



  // Nick
  // -----------------------------------------------
  &-nick {}



  // List
  // -----------------------------------------------
  &-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}
